<h1>
registro
</h1>

<form ng-submit="lc.signup(user)">
	<label for="name">
		name
		<input type="text" ng-model="user.name"id="name" placeholder="name">
	</label>
	<label for="username">
		Username
		<input type="text" ng-model="user.username"id="username" placeholder="username">
	</label>
	<label for="password">
		Password
		<input type="password" ng-model="user.password"id="password" placeholder="Password">
	</label>
	<label for="email">
		Email
		<input type="text" ng-model="user.email"id="email" placeholder="Email">
	</label>
	<label for="birthday">
		Date born
		<input type="date" ng-model="user.birthday"id="birthday" placeholder="date">
	</label>

	<input type="submit" name="submit" value="register">
</form>

Or<a ui-sref="login">login</a>