<section id="live-auction">
	<div class="row">
		<h1>Subastas en vivo</h1>
		<div class="container">
			<div class="wrap-auctions">
				<div class="item-auction" ng-repeat="auction in ac.auctions">
					<div class="auction-product">
						<h2>{{auction.product.name}}</h2>
						<div class="auction-product-image">
							<img src='{{auction.product.image[0]}}' width="300px">
							<span class="auction-credits label label-warning">x {{auction.credits_required}}</span>
						</div>
						<div class="auction-product-descrip">
							<p>{{auction.product.description}}</p>
						</div>
					</div>
					<div class="auction-footer">
						<span class="label-price">
							<b>subasta precio:</b> ${{auction.price}}
						</span>
						<span class="label-price">
							<b>precio:</b> ${{auction.product.pricing.price}}
						</span>

						<div class="timer">
							<p>00:00:03</p>
						</div>
						<div class="bid-control">
							<a href="#" class="btn btn-primary">Yo doy màs</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>	
</section>
<hr />
<section id="closed-auction">
	<div class="row">
		<h1>Subastas cerradas</h1>
		<div class="container">
			<div class="wrap-auctions">
				<p>subasta cerrada1</p>
				<p>subasta cerrada2</p>
			</div>
		</div>
	</div>	
</section>