<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" ui-sref="home">Bidking</a>
      <ul class="nav navbar-nav">
        <li><a ui-sref="dash.auction">home</a></li>
        <li><a ui-sref="dash.credits">creditos</a></li>
        <li><a ui-sref="dash.gifts">regalos</a></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <span class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></span>
          <ul class="dropdown-menu">
           <li><a ui-sref="dash.profile">perfil</a></li>
           <li><a ui-sref="dash.invitation">invitaciòn</a></li>
           <li><a ui-sref="dash.help">ayuda</a></li>
           <li role="separator" class="divider"></li>
           <li><a ui-sref="logout">salir</a></li>
         </ul>
       </li>
     </ul>
   </div><!--/.nav-collapse -->
 </div><!--/.container-fluid -->
</nav>
</header>

<div class="container">

  <div ui-view></div>
</div>