<div ui-view='nav'></div>

<section id="home">
	
<div class="jumbotron">
      <div class="container">
        <h1>Bidking</h1>
        <p>Una inmejorable ocasión para ahorrar, logra grandes descuentos en todo tipo de productos, que podrían alcanzar el<b> 99% de descuento</b> respecto a su precio de mercado.</p>
        <p><a class="btn btn-primary btn-lg" ui-sref="signup" role="button">Quiero hacerlo»</a></p>
      </div>
    </div>

</section>
<div id="live-auction">
	live auction
</div>
<div ui-view='footer'></div>