<div class="row">
	<section id="gifts">
	<h1>Creditos</h1>
	<form>
		<label for="codigo">
			<input type="text" id="code" placeholder="insertar codigo de pago">
		</label>
		<input type="submit" value="enviar" id="submit">
	</form>

		<table class="table">
			<thead>
				<th>id</th>
				<th>concepto</th>
				<th>creditos</th>
				<th>fecha</th>
				<th>estado</th>
			</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Carga de creditos</td>
				<td>100</td>
				<td>17 de marzo</td>
				<td>activo</td>
			</tr>
		</tbody>
		</table>
	</section>
</div>